<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AI Directory</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/businesses">Devices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/test">Test API</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <app-authuser class="me-3 text-white"></app-authuser>
        <app-authbutton></app-authbutton>
      </div>
    </div>
  </div>
</nav>